.btn-social {
  overflow: hidden;
  padding-left: $bs-height-base + $padding-base-horizontal;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  > :first-child {
    border-right: 1px solid rgba(0, 0, 0, .2);
    bottom: 0;
    font-size: 1.6em;
    left: 0;
    line-height: $bs-height-base + 2;
    position: absolute;
    text-align: center;
    top: 0;
    width: $bs-height-base;
  }

  &.btn-lg {
    padding-left: $bs-height-lg + $padding-large-horizontal;

    > :first-child {
      font-size: 1.8em;
      line-height: $bs-height-lg;
      width: $bs-height-lg;
    }
  }

  &.btn-sm {
    padding-left: $bs-height-sm + $padding-small-horizontal;

    > :first-child {
      font-size: 1.4em;
      line-height: $bs-height-sm;
      width: $bs-height-sm;
    }
  }

  &.btn-xs {
    padding-left: $bs-height-xs + $padding-small-horizontal;

    > :first-child {
      font-size: 1.2em;
      line-height: $bs-height-xs;
      width: $bs-height-xs;
    }
  }
}

// scss-lint:disable MergeableSelector
.btn-social {
  // scss-lint:disable ImportantRule
  > :first-child {
    font-size: inherit !important;
    line-height: $btn-line-height !important;
    padding-bottom: $btn-padding-y !important;
    padding-top: $btn-padding-y !important;
  }

  // scss-lint:disable ImportantRule
  &.btn-lg {
    > :first-child {
      font-size: inherit !important;
      line-height: $btn-line-height !important;
      padding-bottom: $btn-padding-y-lg !important;
      padding-top: $btn-padding-y-lg !important;
    }
  }
}

// scss-lint:disable PlaceholderInExtend
.btn-social-icon {
  @extend .btn-social;

  height: $bs-height-base;
  padding: 0;
  width: $bs-height-base;

  // scss-lint:disable ImportantRule
  > :first-child {
    border: 0;
    text-align: center;
    width: 100% !important;
  }

  &.btn-lg {
    height: $bs-height-lg;
    padding-left: 0;
    padding-right: 0;
    width: $bs-height-lg;
  }

  &.btn-sm {
    height: $bs-height-sm;
    padding-left: 0;
    padding-right: 0;
    width: $bs-height-sm;
  }

  &.btn-xs {
    height: $bs-height-xs;
    padding-left: 0;
    padding-right: 0;
    width: $bs-height-xs;
  }
}

.btn-adn {
  @include btn-social($color-adn);
}

.btn-bitbucket {
  @include btn-social($color-bitbucket);
}

.btn-dropbox {
  @include btn-social($color-dropbox);
}

.btn-facebook {
  @include btn-social($color-facebook);
}

.btn-flickr {
  @include btn-social($color-flickr);
}

.btn-foursquare {
  @include btn-social($color-foursquare);
}

.btn-github {
  @include btn-social($color-github);
}

.btn-google {
  @include btn-social($color-google);
}

.btn-instagram {
  @include btn-social($color-instagram);
}

.btn-linkedin {
  @include btn-social($color-linkedin);
}

.btn-microsoft {
  @include btn-social($color-microsoft);
}

.btn-odnoklassniki {
  @include btn-social($color-odnoklassniki);
}

.btn-openid {
  @include btn-social($color-openid);
}

.btn-pinterest {
  @include btn-social($color-pinterest);
}

.btn-reddit {
  @include btn-social($color-reddit);
}

.btn-soundcloud {
  @include btn-social($color-soundcloud);
}

.btn-tumblr {
  @include btn-social($color-tumblr);
}

.btn-vimeo {
  @include btn-social($color-vimeo);
}

.btn-vk {
  @include btn-social($color-vk);
}

.btn-yahoo {
  @include btn-social($color-yahoo);
}

.btn-stripe {
  @include btn-social($color-stripe);
}

.btn-untappd {
  @include btn-social($color-untappd);
}

.btn-gitlab {
  @include btn-social($color-gitlab);
}

.btn-whatsapp {
  @include btn-social($color-whatsapp, $color-white);
}

.btn-twitter {
  @include btn-social($color-twitter, $color-white);
}

.btn-amazon {
  @include btn-social($color-amazon, $color-amazon-text);
}

.btn-patreon {
  @include btn-social($color-patreon, $color-patreon-text);
}
