@import '_partials/variables';

body {
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

h2 {
  font-weight: 300;
  text-align: center;
}

// scss-lint:disable VendorPrefix DuplicateProperty PropertySortOrder
.jumbotron {
  background-image: -webkit-linear-gradient(left, $color-purple 0, $color-red 100%);
  background-image: -o-linear-gradient(left, $color-purple 0, $color-red 100%);
  background-image: linear-gradient(to right, $color-purple 0, $color-red 100%);
  background-repeat: repeat-x;
  border-radius: 0;
  color: $color-white;
  color: rgba(255, 255, 255, .75);
  filter: progid:DXImageTransform.Microsoft.gradient(
                  startColorstr='#ff720e9e',
                  endColorstr='#ffdd4b39',
                  GradientType=1
  );
  font-size: 16px;
  padding-bottom: 80px;
  position: relative;
  text-align: center;

  h1 {
    color: $color-white;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 15px;
  }

  .bottom {
    background-color: rgba(0, 0, 0, .2);
    bottom: 0;
    left: 0;
    padding: 18px;
    position: absolute;
    right: 0;
  }

  // scss-lint:disable ImportantRule
  iframe {
    border: 0;
    height: 20px !important;
    margin: 2px;
    overflow: hidden;
    width: 100px !important;
  }

  // scss-lint:disable NestingDepth
  .jumbotron-links {
    font-size: 14px;
    list-style: none;
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 0;

    li {
      display: inline;

      + li {
        margin-left: 20px;
      }
    }
  }

  p a,
  & .jumbotron-links a {
    color: $color-white;
    font-weight: 500;
  }
}

.how-to {
  padding: 20px;

  h2 {
    text-align: center;
  }

  li {
    font-size: 21px;
    line-height: 1.7;
    margin-top: 20px;

    p {
      color: $color-grey;
      font-size: 16px;
    }
  }

  code {
    font-size: 85%;
    white-space: normal;
    word-wrap: break-word;
  }
}

// scss-lint:disable VendorPrefix
footer {
  background-image: -webkit-linear-gradient(left, $color-red 0, $color-purple 100%);
  background-image: -o-linear-gradient(left, $color-red 0, $color-purple 100%);
  background-image: linear-gradient(to right, $color-red 0, $color-purple 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(
                  startColorstr='#ffdd4b39',
                  endColorstr='#ff720e9e',
                  GradientType=1
  );
  opacity: .8;
  padding: 50px;
  text-align: center;

  a {
    color: $color-white;

    &:hover {
      color: $color-white;
    }
  }
}

.links {
  list-style: none;
  margin: 0;
  padding-left: 0;

  li {
    display: inline;
    padding: 0 10px;
  }
}

.social-class .social-hex {
  float: right;
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 10px;
  opacity: .3;
}

.social-class li {
  margin-bottom: 4px;
}

.social-class li:hover .social-hex {
  opacity: 1;
}

.social-class li:hover code {
  background-color: $color-white-social;
}

.social-class code {
  cursor: default;
}
